{% extends './layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <link rel="stylesheet" type="text/css" href="../../static/index.css" />  -->
{%endblock%}
{% block title %} Index {% endblock %}

{% block body %}
<div class="index-container">
    <div class="index">
        <h1>UB Rec 2023</h1>
        <h5>Please <strong>LOGIN</strong> to continue</h5>
        <form class="login-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1"><strong>Username</strong></label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="username" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"><strong>Password</strong></label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary"><strong>LOGIN</strong></button>
          </form>
          <strong style="margin-left: 2%; margin-top: 1rem; color: rgb(96, 95, 95);">Don't have an account then REGISTER</strong>
         <a href="register/"><button class="btn btn-primary"><strong>REGISTER</strong></button></a>
    </div>
</div>


<style>

    .index-container{
        max-width: 1200px;
        margin: auto;
        margin-top: 10%;
    }

    .index{
        background: white;
        max-width: 1200px;
        padding: 3%;
    }

    .index:hover{
        filter: drop-shadow(0 0 0.5rem rgb(206, 206, 206));
    }
    .index>h1{
        font-weight: bolder;
        letter-spacing: 2px;
        border-bottom: solid;
        border-color: rgb(159, 159, 159);
        padding-left: 2%;
    }
    .index>h5{
        font-weight: 550;
        letter-spacing: 1px;
        margin-top: 1rem;
        margin-left: 2%;
        margin-bottom: 1.5rem;
    }
    label{
        margin-left: 2%;
    }
    .form-control{
        max-width: 600px;
        margin-left: 2%;
        margin-bottom: 2rem;
    }
    .btn{
        max-width: 150px;
        margin-left: 2%;
        background:  #6770d2;
        background-color: #6770d2;
    }
    .login-form {
        border-bottom:solid;
        border-width: thin;
        padding-left: 1%;
        padding-bottom: 1rem;
        max-width: 650px; 
        border-color: rgb(193, 193, 193);;
    }
    a{
        width: min-content;
        margin-left: 2%;
    }
</style>
{% endblock %}

