{% extends './layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="../../static/reg.css" /> 
{%endblock%}
{%block title%} registration {%endblock%}

{% block body %}
<div class="reg-container">
{% if message is not none %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
{%endif %}

<div class="reg-userform">
    <h1>IRIS Web Team Recruitment 2023</h1>
    <h5>Register here</h5>
    <form action="{% url 'register' %}" method="post" class="reg-userform-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" name="username" autocomplete="off" required>
            <small id="emailHelp" class="form-text text-muted">The Username must be unique</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" autocomplete="off" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirm password" name="confirm_password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>Have an account already then <a href="../"><strong>LOGIN</strong></a> here</p>
</div>
</div>

<style>
    .reg-userform{
        background: white;
        padding: 3%;
        max-width: 1100px;
        margin: auto;
        border-radius: 0;
        filter: none;
    }
    .reg-userform>h1{
        font-weight: bolder;
        letter-spacing: 1.5px;
        border-bottom: solid;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }

    .reg-userform>h5{
        font-weight: bolder;
        margin-left: 2%;
    }
    .reg-userform-form{
        max-width: 600px;
        margin-left: 2%;
        margin-top: 2rem;
    }
    p{
        margin-left: 3%;
        margin-top: 1rem;
    }
</style>

{% endblock %}