{% extends './layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="../../static/reg.css" /> 
{%endblock%}
{%block title%} registration {%endblock%}

{% block body %}
<div class="header">
   <a href="../home">Home</a>
   <a href="../addroom">Add discussion room</a>
   <a href="../logout" style="margin-right: 4rem; margin-left: auto;">Logout</a>
</div>
      <div class="addroom">
         <form action="{% url 'addroom'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            <div class="form-group">
            {{form.as_p}}
            </div>
            {{form.cleaned_data}}
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      </div>

<style>
   .addroom{
      padding: 2rem;
      max-width: 1300px;
      margin: auto;
      background: white;
   }
   .form-group{
      display: grid;
   }
   .header{
            height: 7rem;
            display: flex;
            align-items: center;
            padding: 2rem;
            background: linear-gradient(#e66465, #9198e5);
            margin-bottom: 1rem;
        }
        .header>a{
            text-decoration: none;
            color: white;
            font-size: 2rem;
            font-weight: bolder;
            margin-left: 5%;
        }
</style>
{% endblock %}